<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/trenza.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}</p>
        <p>{{persona.apellido}}</p>
        <p>{{persona.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca De</h1>
            <p id="acercade">{{persona.acercade}}</p>
        </span>
    </div>

</div>
