<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="10"
        [radius]="100"
        [showUnits]="false"
        [titleColor]="'#ffffff'"
        [showSubtitle]="false"
        [imageSrc]="'../assets/html.png'"
        [imageHeight]="25"
        [imageWidth]="25"
        [showImage]="true"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [animation]="true"
        [animationDuration]="500"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'#ffffff'"
        ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="10"
    [radius]="100"
    [showUnits]="false"
    [titleColor]="'#ffffff'"
    [showSubtitle]="false"
    [imageSrc]="'../assets/css.png'"
    [imageHeight]="25"
    [imageWidth]="25"
    [showImage]="true"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [animation]="true"
    [animationDuration]="500"
    [outerStrokeColor]="'#ffffff'"
    [innerStrokeColor]="'#ffffff'"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="10"
    [radius]="100"
    [showUnits]="false"
    [titleColor]="'#ffffff'"
    [showSubtitle]="false"
    [imageSrc]="'../assets/js.png'"
    [imageHeight]="25"
    [imageWidth]="25"
    [showImage]="true"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [animation]="true"
    [animationDuration]="500"
    [outerStrokeColor]="'#ffffff'"
    [innerStrokeColor]="'#ffffff'"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [showUnits]="false"
    [titleColor]="'#ffffff'"
    [showSubtitle]="false"
    [title]="'Perseverancia y Entusiasmo'"
    [showTitle]="true"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [animation]="true"
    [animationDuration]="500"
    [outerStrokeColor]="'#ffffff'"
    [innerStrokeColor]="'#ffffff'"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [showUnits]="false"
    [titleColor]="'#ffffff'"
    [showSubtitle]="false"
    [title]="'Inglés'"
    [showTitle]="true"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [animation]="true"
    [animationDuration]="500"
    [outerStrokeColor]="'#ffffff'"
    [innerStrokeColor]="'#ffffff'"
    ></circle-progress>
</div>

</div>